<p id="notice"><%= notice %></p>

<h2> <%= @user.username %></h2>

<%if @user.blocked%>
  <p class="bg-info"> account frozen </>
<%end%>

<p>Has made <%= @user.ratings.count %> ratings</p>

<% if @user.beer_clubs.any? %>

  <p>member of
  <% @user.beer_clubs.each do |club| %>
    <%= link_to club.name, club%>
  <% end %>
  </p>
<% else %>
  <p>no beerclub memberships</p>
<% end %>

<% if @user.ratings.any? %>
  <p> Favorite beer: <%= @user.favorite_beer.name %> </p>
  <p> Favorite brewery: <%= @user.favorite_brewery.name %> </p>
  <p> Favorite style: <%= @user.favorite_style %> </p>

  <p> average rating <%= round @user.average_rating %></p>

  <h3>ratings</h3>

  <ul>
  <% @user.ratings.each do |r| %>
    <li>
      <%= r %>
      <% if @user == current_user %>
        <%= link_to 'delete', r, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </li>
  <% end %>
  </ul>

<% end %>

<%if current_user.admin %>
    <%if @user.blocked %>
        <%= link_to "reactivate account", toggle_blocked_user_path(@user.id), method: :post,data: {confirm: 'Are you sure?' }, class: "btn btn-danger" %>
    <%else%>
        <%= link_to "froze account", toggle_blocked_user_path(@user.id), method: :post,data: {confirm: 'Are you sure?' }, class: "btn btn-danger" %>
    <%end%>
<%end%>

<% if @user==current_user%>
  <%= link_to 'change password', edit_user_path(@user), class:'btn btn-primary'%> <br>
  <%= link_to 'destroy', @user, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger' %>
<% end %>